*{
    margin: 0%;
    padding: 0%;
    font-size: 10px;
    font-family: 'poppins';
}
html{
    font-size: 10px; 
    scroll-behavior: smooth;
}
body{
    position: relative;
}

.navbar{
    width: 100vw;
    height: 5.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   position: relative;
    background-color: rgb(9, 9, 9);
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 5.5vh;
    width: 100%;    
}
.navbar h3{
    font-size: 1.4vw;
    color: rgb(26, 25, 25);
}
.navbar ul li{
    list-style: none;
   text-align: center;
   font-weight:normal;
   width: 10vw;
  color: rgb(238, 238, 238);
    padding-top: 1vh;
    font-size:1.1vw;
    height: 5vh;
}

.navbar ul li:hover{
    background-color: red;
    transition: 0.8s;
    animation:  nav_animation 0.8s;
}
@keyframes nav_animation{
0%{
    height: 0vh;
}
100%{
    height: 5vh;
}

}
.img-section{
    z-index: -10;
    width:100vw;
    height:100vh;
 overflow: hidden;
 
}
.section1_1{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100vw;
   height: 100vh;
  background-image: url('images/back-img.jpg');
  background-size: cover;
  
}
.section1_1 h1{
    overflow: hidden;
    white-space: nowrap;
   text-align: center;
    width: 0ch;
    animation: text 6s steps(19) infinite;
    color: whitesmoke ;
    font-size: 4.5vw;
    font-family: 'poppins';
    border-right: 2px solid white;
    z-index: 10;
}
.my_info{
    width: 100vw;
    height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.discription{
   
    width: 40vw;
    height: 30vw;
    background-image: url('images/IMG_20210710_212346_047.jpg');
    background-size:cover;
    background-position:right;
}
.mydetails{
    padding: 1.5vw;
    width: 30vw;
    height: 28vw;
    overflow: hidden;
    background-color: rgb(253, 50, 50);

}
.mydetails p,a, pre{
    text-align: left;
    font-family: 'poppins';
    font-size: 1.3vw;
   text-decoration: none;
    color: black;
    

}
.mydetails i{
    padding: 20px;
    font-size: 2vw;
}
.skills_info{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin-top: 5vh;
    margin-left: 9vw;
    align-items: center;
    box-shadow: rgba(240, 7, 7, 0.103) 0px 10px 50px;
    border-radius: 25px;
}
.prog_bar{
position: relative;
display: flex;
flex-direction: column;
justify-content: space-evenly;
border-radius: 22px;
width: 70vw;
height: 18px;
background-color: rgb(230, 230, 230);

}
.progress{
position: relative;
width: 0vw;
height: 1.8vh;
border-radius: 22px;
background-color: red;
margin-left: 0.2vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-end;

}
.progress p{
    position: absolute;
    height:1.5vh;
 font-weight: bolder;
 font-size: medium;
 margin-bottom: 50px;
}
.skills_info h1{
    height:1.5vh;
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 50px;   
}

.html,.php{
    width: 0vw;
    animation:bar1 5s infinite forwards;
}
.skills_info img{
height: 10vh;
width: 10vh;
clip-path: circle(50%);
margin-bottom: 2vh;
}
.eduaction{
    width: 80vw;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    overflow: hidden;
    margin-left: 9vw;
   }
.school,.clg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    padding-left: 2vw;
}
.school h1,.clg h1{
    font-size: 1.5vw;
    color: red;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 70vh;
}
.personal_info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-left: 4vw;
}
.personal_info h1{
    color: red;
    font-weight: bolder;
    font-size: 1.5vw;
}
label{
    color: black;
     font-size: 1.7vw;

}



.child_contact{
    width: 50%;
    height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#visitor_name,#email,#number{
width: 33vw;
height: 6vh;
font-size: 1.8vw;
font-family: 'poppins';
padding-left: 1vw;
margin: 1vw 0vw 1vw 0vw;
border: 0.5px solid black;
}    
.child_contact button{
    width: 10vw;
height: 6vh;
font-size: 1.8vw;
font-family: 'poppins';
font-weight: bolder;
background-color: red;
color: white;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 100vw;
   height: 50vh;
  background-color: black;
  background-size: cover;
  margin: 1vw 0vw 0vw 0vw;
}
.footer p{
    font-family: 'poppins';
   text-decoration: none;
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
    
}
@keyframes bar1{
    0%{
        width: 0vw;
    }
    100%{
        width: 60vw;
    }
}
.css{
    width: 0vw;
    animation:bar2 5s infinite forwards;
}
@keyframes bar2{
    0%{
        width: 0vw;
    }
    100%{
        width: 55vw;
    }
}

.js,.c{
    width: 0vw;
    animation:bar3 5s infinite forwards;
}
@keyframes bar3{
    0%{
        width: 0vw;
    }
    100%{
        width: 55vw;
    }
}


@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 19ch;
    }
}
@media screen and (max-width:500px) {
    .section1_1 h1 {
  font-size: 25px;
     font-weight: bolder;
}
.navbar ul li{
    width: 100%;
    font-size:2.5vw;
}
.navbar ul{
width: 100%;
margin-left: 0%;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.my_info{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.discription{
    width: 85vw;
    height: 36vh;
    border-radius: 20px;
    box-shadow: rgba(240, 7, 7, 0.164) 0px 10px 50px;

}
.mydetails{
    width: 82vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: rgb(240 7 7 / 20%) 0px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.mydetails p,a, pre{
    text-align: left;
    font-family: 'poppins';
    font-size: 3.7vw;
   text-decoration: none;
    color: black;
    width: 77vw;
    

}
.mydetails i{
    font-size: x-large;
}
.eduaction{
    flex-direction: column;
   }
   .school, .clg{
width: 100%;
   }
.school h1,.clg h1,label{
    font-size: 4vw;
}   
.contacts{
    flex-direction: column;
    height: 70vh;
    width: 80vw;
}
.personal_info{
    width: 100%;
}
.personal_info h1{
    font-size: 4vw;
    margin: 0%;
}
#visitor_name, #email, #number{
    height: 4vh;
    font-size: 3vw;
    width: 75vw;
}
.child_contact button{
    width: 20vw;
    height: 2.5vh;
    font-size: 2.5vw;
}
.footer{
    height: 20vh;
}
.footer p{
    font-size: 4vw;
    text-align: center;
    width: 90%;
}
.child_contact{
    width: 100%;
}
.section1_1{
    background-image: url('images/jaimin.jpeg');
    background-size:cover;
}
.section1_1 h1{
    color: red;
    font-size: 8.2vw;
    font-weight: bolder;
    margin-bottom: 20vh;
}

}

